# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_PORT=
RABBITMQ_EXTERNAL_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_MANAGEMENT_EXTERNAL_PORT=
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@localhost:${RABBITMQ_PORT}

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_EXTERNAL_PORT=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

IMAGES_DIR="/home/gde/Projeto/gde_back/logs"

JERP_TOKEN=""

JERP_API="http://localhost:8082"

NEXT_PUBLIC_SOCKET_URL="http://localhost:3001"